# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env/
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!env/*/sandbox.tfvars
.terraform.lock.hcl


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
aws_lambda_script/app/__pycache__/
info.txt